.tasks-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;

	margin: 2rem 2.4rem;
}

.task-container {
	width: 100%;
}

.today-completed {
	max-height: calc(100% - 36rem);
	margin-top: 3.2rem;
	overflow: auto;
}
